%table.table.table-striped{ :width => "100%" }
  %thead
    %tr
      %th Time
      %th Talk
      %th Speaker
      %th Room
      - if logged_in?
        %th Actions
  %tbody
    - @talks.each do |t|
      %tr
        %td 
          = t.start_time.strftime("%H:%M%p")
        %td
          = link_to t.name, talk_path(t)
        %td 
          = t.who
        %td
          = t.room.name
        - if logged_in?
          %td
            = link_to "Edit", edit_talk_path(t), :class => "btn btn-primary"
            = link_to("Delete", talk_path(t), :class => "btn btn-danger", :method => "delete") unless t.deleted_at
